<h1>Fashion Collections</h1>


<% if @current_user.present? %>
  <h2>Welcome back <%= @current_user.name %></h2>
  <%= image_tag @current_user.image, :alt => @current_user.name, :class => 'feature' if @current_user.image.present?%>

<% end %>
