<div class ="container">
<h1>Cholé</h1>
<h3>Fashion You Love</h3>
  <div class ="container">
    <div class="row">
      <div class="home_img_content">
        <div class="col-md-6 col-sm-6">
          <%= link_to(image_tag("style1.jpg", :alt => "Fashion Style", :title => "Fashion Style", :class => 'home_img'), new_style_path )%>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="user_content">
          <% if @current_user.present? %>
            <h2>Welcome back</h2>
            <div>
              <%= image_tag @current_user.image, :alt => @current_user.name, :class => "user" if @current_user.image.present?%>
            </div>
              <h2><%= @current_user.name %></h2>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <%= link_to(image_tag("attire_home1.jpg", :alt => "Clothing", :title => "Clothing", :class => 'home_img'), new_attire_path )%>
        </div>
      </div>
    </div>
  </div>
</div>
