$brand_green: #7CFFCB;
body{
  font-family: 'Pacifico', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;

}

.container_footer {
  margin-bottom: 100px;
}


div.row {
  max-width: 960px;

}

nav {
  word-wrap: break-word !important;
  height: 110px;
}

.nav_name{
  width: 80px;
}

.nav_round {
  color: #333333 !important;
  width: 70px !important;
  height: 70px;
  padding: 25px 0;
  background-color: $brand_green;
  border-radius: 50%;
  }

p.nav_round_user {

  color: #333333 !important;
  width: 70px !important;
  height: 70px;
  padding: 25px 0;
  padding-top: 1em;
  background-color: pink !important;
  border-radius: 50%;
}

  a.nav_round:hover {
    text-decoration: none !important;
    color: black !important;
    width: 70px !important;
    height: 70px;
    padding: 25px 0;
    background-color: white;

  }

footer {
  padding-top: 30px;
  background-color: black;

  width: 100%;
  color: $brand_green;
  text-align: center;
  font-family: 'Raleway', sans-serif;
 }



.home_logo {
  max-height: 5em;
}

img.home_content_logo {
  width: 20em;
  padding-right: 1em;
}


.user_content {
  display: block;
}

h2 {
  text-align: center;
}

.user {
  max-height: 15em;
  border: 5px solid $brand_green;
  border-radius: 50%;
  margin-left: 1.3em;
  width: 250px;
  height: 250px;
}

.home_img_content {
  padding-top: 5em;
  display: inline-flex;
  align-items: center;
}

.home_img {
  max-height: 25em;
  max-width: 22em;
}

#home_img1 {
  padding-left: 2em;
}

.thumb {
  max-height: 18em;
}

.thumb_attire {
  max-height: 18em;
  border: 5px solid black;
}

.feature {
  max-height: 30em;
}

img.feature {
  border: 5px solid black;
}

.feature2 {
  max-height: 30em;
  padding-top: 2em;

}

img.feature:hover {
  background: rgba(76, 175, 80, 0.3)
}

.title {
  padding: 1em;
}


.title, h3 {
  font-family: 'Pacifico', sans-serif;
  text-align: center;

}


.attire_new {
  padding-top: 5em;
}

.attire_new_text {
  padding: 1em;
}

.img_text {
  text-align: center;
}

.grid_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20em;
  grid-row-gap: 10px;
  padding-right: 50px;
  padding-left: 50px;
  align-items: center;
}

.box {
  padding-left: 1em;
  text-align: center;
}

.thumb2 {
  max-height: 10em;
  border: 5px solid black;
}

li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

p.thumb_text {
  font-family: 'Montserrat', sans-serif;

}

.size {
  display: inline-block;
  padding-top: 13px;
  text-align: center;
  background: $brand_green;
  border-radius: 50%;
  width: 50px !important;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

button a {
  color: white !important;
  font-family: 'Montserrat300', sans-serif;
  width: 250px !important;
  margin-right: 2em;

}

button:hover {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-column-gap: 3em;
  margin-top: 3em;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-column-gap: 3em;
}

.wrapper3 {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-column-gap: 3em;
  margin-top: 5em;
  padding: 2em;
  padding-top: 2em;
  border: 2px solid;
  width: 57em;
  height: 20em;
  border-color: $brand_green;
  border-radius: 5px;
  background-color: $brand_green;
}

.nested {
  display: grid;
  grid-template-rows: 2fr 4fr 1fr 1fr;
  padding: 1em;
}

label {
  min-width: 170px;

}

div.attire_thumbs {
  text-align: center;
}

h5 {
  padding-top: 1em;
  text-align: center;
  font-family: 'Montserrat300', sans-serif;
}
.associate_img {
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

.associate_img_style {
  margin-bottom: 1em;
  padding-bottom: 2em;
  text-align: center;
}
.thumb3 {
  max-height: 13em;
}

.thumb4 {
  max-height: 10em;
  border: 5px solid black;
  margin-top: 1em;
}



ul {
  padding: 0
}

.size {
  margin-right: 2.8em;
}
.form {
  font-family: 'Montserrat300', sans-serif;
}

div.form {
  text-align: center;
  padding-top: 3.5em;
}
.errors {
  color: red;
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  display: block;
  background: rgba(0,0,0,.75);
 text-align: center;
margin: 0 auto;
 opacity: 1;
 color: white;
 max-width: 600px;
 position: absolute;
 top: 200px;
left: 50px;
font-size: 1.5em;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 2.5em;
padding-right: 2.3em;
}

.overlay1 {
  display: block;
  background: rgba(0,0,0,.75);
 text-align: center;
  margin: 0 auto;
 opacity: 1;
 color: white;
 max-width: 600px;
 position: absolute;
 top: 200px;
left: 20px;
font-size: 1.5em;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 2.5em;
padding-right: 2.5em;
}

.overlay:hover {
  background: rgba(0,0,0,1);
  text-decoration: none;
  color: white;

}

.overlay1:hover {
  background: rgba(0,0,0,1);
  text-decoration: none;
}


a{
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: $brand_green !important;
  text-decoration: none !important;
}

.title_home {
  text-align: center;
  margin-top: 3em;
}

input#password, input#email, input#name, input#image, input#password_confirmation{
  min-width: 220px;
}

label {
  text-align: left;
  padding-left: 2em;
  min-width: 150px;
}

p.new_member {
  padding-bottom: 2.7em;
}
