$brand_green: #7CFFCB;

.container {
  max-width: 960px;
  margin: 0 auto;

}

nav {
  word-wrap: break-word !important;
}

// .nav_name{
//   width: 80px;
// }

a {
  color: white !important;
  width: 80px !important;
}

a:hover {
  text-decoration: none !important;
}

.home_logo {
  max-height: 5em;
}

.user_content {
  display: block;
}


.user {
  max-height: 15em;
  border: 5px solid white;
  border-radius: 50%;
}

.home_img_content {
  display: inline-flex;
}

.home_img {
  max-height: 25em;
  max-width: 20em;
  border: 1px solid lightgrey;
}

.thumb {
  max-height: 8em;
}

.feature {
  max-height: 40em;
}
